.flexexample{
    display: flex;
    justify-content: space-around;
}



            table{ border: 2px solid blueviolet;
                border-radius: 20px;
                border-spacing: 10px;
                width: 100%;
                margin-top: 100px;


            }
            th,td{
                text-align: center;
                border: 2px solid forestgreen;
                border-radius: 10px;
                
            }
            
            h1{
                text-align: center;
            }
            br{
                text-align: center;
            }
            p{
                text-align: center;
            }
          @font-face {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
            src: url(./Aladin\,Londrina_Solid.zip);
          }
          #engtext{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            color: black;
            font-weight: bolder;
            font-style: italic;
            font-variant: small-caps;
          }
          #geotext{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large;
            color: black;
            font-weight: bold;
            font-style: oblique;
            font-variant: normal;
          }
            